{{> head }}


{{> navbar }}

<div class="row">
    <div class="col-8">
        <h3>About Spiderman</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dolores fugiat culpa cumque totam, eius
            corrupti repudiandae pariatur repellendus, saepe expedita animi modi quidem magni in distinctio maiores
            eligendi earum.</p>
    </div>
    <div class="col-4">

        <img class="img-thumbnail" style="width:200px; height:200px;" src="../assets/img/spiderman.png" alt="">

    </div>
</div>


{{> footer  }}